@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Custom Superhero Page</h1>
    <p class="lead">Please take a look around.</p>
    <p><a href="http://localhost:63503/Super/Index" class="btn btn-primary btn-lg">Supers List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Super</h2>
        <p>
            I have given you the ability to create brand new supers that havent come to pass yet, or you can remake the best ones you know.
        </p>
        <p><a class="btn btn-default" href="http://localhost:63503/Super/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Just incase you missed it</h2>
        <p>heres another link to create more superheroes.</p>
        <p><a class="btn btn-default" href="http://localhost:63503/Super/Create">The world needs more supers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Change 'em up</h2>
        <p>Right here you can edit all the supers.</p>
        <p><a class="btn btn-default" href="http://localhost:63503/Super/Index">CLICK HERE NOW!!!! &raquo;</a></p>
    </div>
</div>